.editInventory {
  width: 90%;
  height: 40vh;
  border: 1px solid gray;
  background-color: whitesmoke;
  overflow: scroll;
}

.inputsDiv {
  display: flex;
  flex-direction: row;
}

.inputsDivChild {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 40vh;
}

.editInventory label {
  padding: 5px;
}

.editInventory textarea, .editInventory input {
  vertical-align: top;
  float: right;
  width: 20vw;
  margin: 0;
  resize: none;
  border: 1px solid gainsboro;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1rem;
}

button#editInventorySubmit {
  width: 150px;
  height: 40px;
  background-color: #2189c1;
  color: white;
  border: none;
  align-self: flex-end;
}