#homePage {
  width: 80%;
  height: 80%;
  margin: 2% auto;
  padding: 2%;
  background-color: white;
  opacity: 0.9;
}

.container {
  height: 48vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 3% 0;
  overflow: hidden;
}

.imageDiv {
  width: 35%;
  align-self: flex-start;
}

#logo {
  width: 80%;
}

.textDiv {
  width: 70%;
  padding: 20px;
  border-left: 2px solid gainsboro;
}
#homePage h1 {
  margin-bottom: 0;
}