.adminNav {
  width: 12vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.viewNav {
  height: 50px;
  width: 180px;
  line-height: 50px;
  text-align: center;
  color: black;
  border-bottom: 1px solid gray;
}

.viewNav.active {
  background-color: white;
  color: dimgray;
}