.orderTable {
  background-color: white;
  width: 100%;
  max-width: 78vw;
  overflow-x: scroll;
}

.orderTable .ReactTable {
  height: 64vh;
  max-height: 65vh;
  max-width: 78vw;
}

/* Order Details Modal styles below */

.parent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.child {
  height: 85%;
}

.left {
  width: 35%;
  border-right: 1px solid lightgray;
}

.right {
  width: 65%;
}