.orderTable {
  background-color: white;
  width: 100%;
}

.orderTable .ReactTable {
  height: 100%;
  max-height: 64vh;
}

.parent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.child {
  height: 85%;
}

.left {
  width: 35%;
  border-right: 1px solid lightgray;
}

.right {
  width: 65%;
}