#orderPage {
  width: 80%;
  height: 65vh;
  margin: 2% auto;
  /* padding: 2%; */
  background-color: white;
  opacity: 0.9;
  position: relative;
}

.orderFormFlexContainer {
  display: flex;
  flex-direction: row;
}

.orderFormButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#orderProgress {
  position: absolute;
  top: -1vh;
  width: 100%;
}

.orderFormButtonContainer {
  height: 63vh;
  right: 0;
  padding: 1%;
}

.orderFormFlexChild.content {
  width: 77%;
  max-height: 65vh;
  padding: 0 0 0 3%;
  overflow: scroll;
}

#orderPage select {
  width: 18vw;
  height: 1.5rem;
  font-size: 1em;
}