#adminPage {
  width: 90vw;
  height: 65vh;
  margin: 2% auto;
  background-color: white;
  opacity: 0.95;
}

.orderFormFlexChild.nav {
  width: 180px;
  height: 65vh;
  background-color: lightgray;
}

.orderFormFlexChild.table {
  width: 78vw;
}

.inventoryTable {
  width: 100%;
}