.verticalNav {
  display: flex;
  flex-direction: column;
  width: 12vw;
}

.viewNav.disabledLink {
  pointer-events: none;
  color: darkgray;
}

.orderFormNav {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* .viewNav {
  height: 50px;
  width: 20vw;
  line-height: 50px;
  text-align: center;
  color: dimgray;
  border-bottom: 1px solid gray;
}

.viewNav.active {
  background-color: white;
  color: black;
} */