.nav {
  width: 100vw;
  height: 5vh;
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
  padding: 0 20px 0 20px;
  height: 5vh;
  line-height: 5vh;
  text-decoration: none;
  color: #2189c1;
}

.nav-item.active {
  color: black;
}

.nav-item:hover {
  background-color: darkgray;
}

#socialMediaLink {
  line-height: 5vh;
}

#socialMediaLink img {
  height: 3vh;
  margin: 1vh;
}