#inventoryFormParent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 58vh;
  width: 70vw;
  margin: 0;
  justify-content: space-between;
  background-color: white;
}

.inventoryFormChild {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 50%;
}

.inventoryFormChild.left {
  border-right: 1px solid gainsboro;
}

#inventoryImgPreview {
  max-width: 160px;
  border: 1px solid black;
}

#inventoryFormParent textarea, #inventoryFormParent input {
  vertical-align: top;
  float: right;
  width: 20vw;
  margin: 0;
  resize: none;
  border: 1px solid gainsboro;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#inventoryFormParent label {
  margin-bottom: 2%;
}

#inventoryFormParent img {
  align-self: center;
  margin: 3%;
}

.inventoryFormChild button {
  height: 40px;
  width: 80%;
  margin: auto;
  background-color: rgba(33, 137, 193, 1);
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 2px 2px 2px lightgray;
}